<form action="/payment/results">
  <div>
    <label for="apr_id">APR</label>
    <input id="apr_id" name="user_apr" placeholder="E.g. 5.42">
  </div>

  <div>
    <label for="years_id">Number of years</label>
    <input id="years_id" name="user_years" placeholder="How many years to repay?">
  </div>

  <div>
    <label for="pv_id">Principal</label>
    <input id="pv_id" name="user_pv" placeholder="How much principal?">
  </div>

  <button>Calculate monthly payment</button>

</form>
