<h1>Random Results</h1>

<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    <%=@user_min.to_s%>
  </dd>

  <dt>
    Maximum
  </dt>
  <dd>
    <%=@user_max.to_s%>
  </dd>

  <dt>
    Random Number
  </dt>
  <dd>
    <%=@random_number.to_s%>
  </dd>
</dl>

<a href="/random/new">Pick another random number</a>
