<form action="/random/results">
  <div>
    <label for="minimum_id">Minimum</label>
    <input id="minimum_id" name="user_min" placeholder="E.g. 1.5">
  </div>

  <div>
    <label for="maximum_id">Maximum</label>
    <input id="maximum_id" name="user_max" placeholder="E.g. 4.5">
  </div>

  <button>Pick random number</button>

</form>
