<h1>Square Root Results</h1>

<dl>
  <dt>
    Number
  </dt>
  <dd>
    <%=@number.to_s%>
  </dd>

  <dt>
    Square Root
  </dt>
  <dd>
    <%=@result.to_s%>
  </dd>
</dl>

<a href="/square/new">Calculate another square root</a>
