<form action="/square/results">
  <div>
    <label for="number_id">Enter a number</label>
  </div>

  <div>
    <input id="number_id" name="number" placeholder="What number do you want to take the square of?">
  </div>

  <div>
    <button>Calculate square</button>
  </div>

</form>
