<h1>Square Results</h1>

<dl>
  <dt>
    Number
  </dt>
  <dd>
    <%=@number.to_s%>
  </dd>

  <dt>
    Square
  </dt>
  <dd>
    <%=@result.to_s%>
  </dd>
</dl>

<a href="/square/new">Calculate another square</a>
